.svn/
**/Debug/*
**/Release/*
**/bin/*
**/bin_vc/*
**/.vs/*
sdcc/sdcc_vc.h
sdcc/src/SDCClex.c
sdcc/src/SDCCy.c
sdcc/src/SDCCy.h
sdcc/src/ds390/peeph.rul
sdcc/src/hc08/peeph.rul
sdcc/src/mcs51/peeph.rul
sdcc/src/pic14/peeph.rul
sdcc/src/pic16/peeph.rul
sdcc/src/stm8/peeph.rul
sdcc/src/version.h
sdcc/src/z80/peeph-gbz80.rul
sdcc/src/z80/peeph-r2k.rul
sdcc/src/z80/peeph-tlcs90.rul
sdcc/src/z80/peeph-z80.rul
sdcc/src/z80/peeph.rul
sdcc/support/cpp/auto-host.h
sdcc/support/cpp/options.c
sdcc/support/cpp/options.h
sdcc/sdas/linksrc/asxxxx_config.h
sdcc/sdcc.VC.db
